.articlecomments {
  border: var(--main-color) 5px solid;
  margin: 20px 10vw;
  background-color: var(--dark-shades);
}

.articlecomments__h3 {
  text-align: left;
  margin: 10px;
  color: var(--light-shades);
}

.articlecomments__nologin {
  color: var(--light-shades);
}

.comment {
  border: var(--main-color) 5px solid;
  background-color: var(--light-shades);
  display: grid;
  grid-template-columns: min-content auto min-content;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    'avatar author date'
    'body body body'
    'votes votes delete';
  text-align: left;
  margin: 10px;
  padding: 10px;
  align-items: center;
}

.comment__body {
  grid-area: body;
  white-space: pre-wrap;
}

.comment__author {
  grid-area: author;
  font-weight: bold;
  margin: 0;
}

.comment__votes {
  grid-area: votes;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
}

.comment-votes__totalvotes {
  margin: 5px;
}

.comment__date {
  grid-area: date;
  text-align: right;
  margin: 0;
  font-size: 0.8rem;
}

.comment__delete {
  grid-area: delete;
}

.comment__avatar {
  height: 30px;
  width: 30px;
  grid-area: avatar;
  margin-right: 5px;
  background-color: white;
  border: var(--main-color) solid 2px;
  border-radius: 15px;
}

.comment-votes__button--disabled {
  background-color: grey;
}

.comment-votes__button--disabled:hover {
  background-color: grey;
}

.comment__err {
  display: block;
  text-align: center;
}

@media screen and (max-width: 250px) {
  .articlecomments {
    margin: 0;
    width: 250px;
  }
  .comment__date {
    font-size: 0.7rem;
  }
  .comment__author {
    font-size: 0.9rem;
    margin-left: -10px;
  }
  .comment__avatar {
    height: 25px;
    width: 25px;
  }
}

@media screen and (min-width: 430px) {
  .articlecomments {
    margin: 20px 0;
  }
}
