.article-votes {
  border: var(--main-color) 5px solid;
  margin: 20px 10vw;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-areas: 'downvote votes upvote';
  padding: 10px;
  background-color: var(--dark-shades);
}

.article-votes__downvote {
  grid-area: downvote;
}

.article-votes__totalvotes {
  grid-area: votes;
  margin: 0;
  color: var(--light-shades);
}

.article-votes__upvote {
  grid-area: upvote;
}

.article-votes--err {
  margin: 20px 10vw;
  padding: 10px;
  color: var(--light-shades);
}

.article-votes > button {
  padding: 5px;
  border: 3px solid var(--light-shades);
  background-color: var(--dark-shades);
  border-radius: 25px;
  transition: 0.3s;
}

.article-votes__button:hover {
  background-color: var(--dark-accent);
  color: var(--light-shades);
}

.article-votes__button:active {
  background-color: var(--light-accent);
  transition: none;
}

.article-votes__button--disabled {
  background-color: grey;
}

.article-votes__button--disabled:hover {
  background-color: grey;
}

@media screen and (max-width: 250px) {
  .article-votes {
    margin: 0;
    width: 250px;
  }

  .article-votes--err {
    margin: 0;
    width: 250px;
  }
}

@media screen and (min-width: 430px) {
  .article-votes {
    margin-left: 5%;
    height: 150px;
    width: 100px;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 'downvote' 'votes' 'upvote';
    align-items: center;
    margin-top: 50px;
  }

  .article-votes__err {
    display: block;
    height: min-content;
    padding: 3px;
  }
}
