.header {
  /* border: 5px solid purple; */
  font-size: 3rem;
  font-weight: bold;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-color);
}

.header__img {
  height: 20px;
}

.header__link {
  display: flex;
  align-items: center;
  height: 0;
}

@media screen and (max-width: 250px) {
  header {
    width: 250px;
    margin: 0;
  }
}
