.users-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.usercard {
  border: var(--main-color) 3px solid;
  background-color: var(--light-accent);
  border-radius: 10px;
  margin: 20px;
}

.usercard__name,
.usercard__username {
  color: white;
}

.usercard__img {
  border-radius: 50%;
  border: 2px var(--main-color) solid;
  height: 150px;
  width: 150px;
  margin: 10px;
  padding: 5px;
  background-color: white;
}

.usercard__button {
  margin-bottom: 10px;
}

.usercard__button:hover {
  background-color: var(--dark-shades);
  color: var(--light-shades);
  border-color: var(--light-shades);
}

.usercard__button:active {
  background-color: var(--main-color);
}

.usersloading__img {
  height: 250px;
  width: 250px;
}

@media screen and (max-width: 250px) {
  .login {
    margin: 10px 0px;
    width: 250px;
  }
}
