.newcomment {
  text-align: left;
  margin: 5px;
  padding: 5px;
  border: green 5px solid;
}

.newcomment__label {
  font-size: 0.9rem;
}

.newcomment__input {
  margin: 3px 0;
  width: 90%;
  margin-right: 5px;
  font-family: inherit;
}

.newcomment__submit {
  width: min-content;
}

.newcomment__username {
  color: grey;
  font-size: 0.8rem;
  margin-top: 0;
}

.newcomment__err {
  text-align: center;
}
