.topics {
  margin: 20px;
}
.topics-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.topics-card {
  margin: 10px;
  background-color: var(--light-accent);
  border: 3px white solid;
  border-radius: 10px;
  width: 80%;
  transition: 0.2s ease-in-out;
}

.topics-card__topic,
.topics-card__desc {
  color: white;
}

.topics-card:hover {
  transform: scale(1.05);
}

@media screen and (min-width: 430px) {
  .topics {
    margin: 20px 15vw;
  }
  .topics-card {
    width: 200px;
  }
}

@media screen and (max-width: 250px) {
  .topics {
    margin: 10px 0px;
    width: 250px;
  }
}
